@model IEnumerable<Multimark.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h2>Categorias</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar Categoria</a>
</p>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Id
            </td>
            <td>
                Nome
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
