@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h3 class="text-center">@ViewBag.Error</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <link href="~/css/Login.css" rel="stylesheet" />



        <input type="text" name="utilizador" id="login" class="form-control fadeIn second" placeholder="Usuário" />
        <input type="text" name="senha" id="password" class="form-control fadeIn second" placeholder="Senha" />
        <div class="form-group">
            <div class="col-md-2 fadeIn fourth">
                <input type="submit" value="Login" />
            </div>
        </div>

    </div>

  

}

