@{
    ViewData["Title"] = "Home Page";
}

<div pt-md-2>
    <h3 class="text-center">
        <a asp-area="" asp-controller="Product" asp-action="Create">
            <img src="~/images/plus (2).png" /> Cadastrar Produto
        </a>
        <a asp-area="" asp-controller="Product" asp-action="Index">
            <img src="~/images/product.png" />
            Lista de Produtos

        </a>
        <a asp-area="" asp-controller=" " asp-action=" ">
            <img src="~/images/shop.png" /> Adicionar Venda

        </a>
    </h3>
    <img class="center-block" src="~/images/77394085_1209490502583658_1774817985790214144_n.jpg" />
</div>
