@{
    ViewData["Title"] = "Home Page";
}

<br />

    <div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
        <div class="col-lg-3">
            <div class="row">
                <a href="../Clients/Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
            </div>
            <span>Cadastro de Clientes</span>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <a href="../Categories/Index"><img src="~/images/Categorias.png" width="150" height="150" /></a>
            </div>
            <span>Cadastro de Categorias</span>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <a href="../Product/Index"><img src="~/images/produtos.png" width="150" height="150" /></a>
            </div>
            <span>Cadastro de Produtos</span>
        </div>
    </div>
    <br /><br />
    <div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
        <div class="col-lg-3">
            <div class="row">
                <a href="../Sales/Create"><img src="~/images/vendas.png" width="150" height="150" /></a>
            </div>
            <span>Registro de Vendas</span>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <a href="../Sales/Index"><img src="~/images/relatorios.png" width="150" height="150" /></a>
            </div>
            <span>Relatórios</span>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <a href="../Adm/Index"><img src="~/images/vendedores.png" width="150" height="150" /></a>
            </div>
            <span>Cadastro de Funcionários</span>
        </div>
    </div>


