@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @{
        Context.Request.Cookies.TryGetValue("User", out string value);
        <h1 class="text-center">Bem vindo @value</h1>
    }
</div>

<div pt-md-2>
    <h3 class="text-center">
        
        <a asp-area="" asp-controller=" " asp-action=" ">
            <img src="~/images/shop.png" /> Adicionar Venda

        </a>
    </h3>
    <img class="center-block" src="~/images/77394085_1209490502583658_1774817985790214144_n.jpg" />
</div>
