@model Multimark.Models.ViewModels.ProductFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Edite o Produto</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label">Nome</label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoriesId" class="control-label">Categoria</label>
                <select asp-for="Product.CategoriesId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label">Preço</label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label">Quantidade</label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Size" class="control-label">Tamanho</label>
                <input asp-for="Product.Size" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Date" class="control-label">Data</label>
                <input asp-for="Product.Date" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
        <a asp-action="Index"> <img src="~/images/back.png" /> Voltar</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}