@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Acesso Negado";
}

<style type="text/css">
    .login-form {
        width: 385px;
        margin: 100px auto;
        padding: 20px;
        background-color: #c8dae6;
        border-radius: 10px;
        text-align:center;
        margin-top:200px;
    }

</style>

<div class="login-form">
    <h3 class="text-center">Acesso Negado</h3>
</div>